<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>game</title>
	<script src="js/vendor/enchant.js/build/enchant.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
	<div id="container">
		
	</div>
</body>
</html>