<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="vendor/jquery/dist/jquery.min.js"></script>
	<script src="vendor/underscore/underscore-min.js"></script>
	<script src="vendor/enchant.js-builds/build/enchant.js"></script>
	<script src="js/model/base_block.js"></script>
	<script src="js/model/noto_label.js"></script>
	<script src="js/model/ojama_block.js"></script>
	<script src="js/model/player.js"></script>
	<script src="js/model/timer.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
	<div id="container">
		<h1><%= title %></h1>
	</div>
</body>
</html>