<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="vendor/jquery/dist/jquery.min.js"></script>
	<script src="vendor/underscore/underscore-min.js"></script>
	<script src="vendor/enchant.js-builds/build/enchant.js"></script>
	<script src="js/util.js"></script>
	<script src="js/model/base_block.js"></script>
	<script src="js/model/noto_label.js"></script>
	<script src="js/model/ojama_block.js"></script>
	<script src="js/model/player.js"></script>
	<script src="js/model/timer.js"></script>
	<script src="js/model/tiles.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
	<div id="container">
		<h1><%= title %></h1>
	</div>
	<script>
	$(function(){
		var Package = ns('swkoubou.hackathon2015winter');
		var gameInfo = {}; //dummy
		var player1 = {
			name: '_X_y_z_',
			tiles: []
		};
		var player2 = {
			name: 'sunya',
			tiles: []
		};

		// dummy block data
		_.each([player1, player2], function(player){
			for(var i = 0; Package.global.TILE_COUNT > i; i++){
				var tile = new Package.Model.Block(0, _.random(1, 3), _.random(1, 3));
				player.tiles.push(tile);
			}
		});
		var App = Package.App;
		App.start(gameInfo, player1, player2);
	});
	</script>
</body>
</html>