<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/vendor/materialize/dist/css/materialize.css' />
</head>
<body>

<h1><%= title %>が作ったゲーム</h1>

<% if (mustLogin) { %>
<p>ログインしてください。</p>
<% } %>

<% if (logined) { %>

<a class="waves-effect waves-light btn" href="/auth/logout"><i class="mdi-social-person-outline right" ></i>ログアウト</a>
<p><%= user.displayName %>さん、こんにちは</p>
<a href="/lobby">ロビー</a>
<a href="/result">Result</a>

<% } else { %>

<p>Twitter認証でゲームが始められます</p>
<a class="waves-effect waves-light btn" href="/auth/twitter"><i class="mdi-social-person-add right"></i>ログイン</a>

<% } %>


<script src='/vendor/jquery/dist/jquery.js'></script>
<script src='/vendor/materialize/dist/js/materialize.js'></script>
</body>

</html>