<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/vendor/materialize/dist/css/materialize.css' />
</head>
<body style="background-color: #e0e0e0">
<h1 style="text-align: center">リザルト</h1>
<div class="row ">
    <div class="col s6" style="margin: 0:auto;">
    <div class="row">
        <div class="col s5 z-depth-3">
            <div class="card center">
                <div class="card-image">
                    <!-- TwitterIcon-->
                    <img src="#">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= user.displayName %></span>
                </div>
                <div class="card-action">
                    <p>score:1</p>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="col s6" style="margin: 0:auto;">
        <div class="row">
            <div class="col s5 z-depth-3">
                <div class="card center">
                    <div class="card-image">
                        <!-- TwitterIcon-->
                        <img src="#">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">対戦相手name</span>
                    </div>
                    <div class="card-action">
                        <p>score:2</p>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
<a class="btn waves-effect waves-light" href="#" style="text-align: center;margin: 0: auto;"><i class="mdi-content-undo left"></i>対戦を終わる</a>

<script src='/vendor/jquery/dist/jquery.js'></script>
<script src='/vendor/materialize/dist/js/materialize.js'></script>
</body>

</html>