<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<% if (logined) { %>

<p>logined</p>
<p><a href="/auth/logout">logout</a></p>
<p>Hello, <%= user.username %></p>

<% } else { %>

<p><a href="/auth/twitter">login</a></p>

<% } %>

<hr>

<form class="call-game-test">
    <h2>Emit: call-game</h2>
    <div>
        <label for="call-username">call username</label>
        <input type="text" id="call-username">
    </div>
    <button type="button" id="call-game-btn">Submit</button>
</form>

<!-- load javascripts -->
<script src="/socket.io/socket.io.js"></script>
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/javascripts/test/socket.js"></script>

</body>

</html>